In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from scipy import stats
from scipy.stats import ttest_ind

In [2]:
dark = pd.read_csv('DarkTriad.csv')
dark

       Narcissism  Machiavellianism  Psychopathy
0               3                38            6
1              14                57            7
2               5                33            4
3              26                57            9
4              22                80           13
...           ...               ...          ...
22495          10                37           16
22496          10                43            5
22497          16                84           10
22498          15                60            9
22499           6                41            6

[22500 rows x 3 columns]

In [29]:
#dark.loc[:,(dark['Narcissism']>20& dark['Machiavellianism']>80 &dark['Psychopathy']>30).all()]


#dark1=dark.loc[dark['Narcissism'] >20]
#dark2=dark1.loc[dark['Machiavellianism']>80]
dark3=dark.loc[dark['Psychopathy']>30]
len(dark)/len(dark3)
22500/287

78.397212543554

In [4]:
m = dark['Narcissism']
m

0         3
1        14
2         5
3        26
4        22
         ..
22495    10
22496    10
22497    16
22498    15
22499     6
Name: Narcissism, Length: 22500, dtype: int64

In [30]:
sojow = pd.read_csv('Sojow.csv')
intelligence = sojow[['Intelligence']]
brain = sojow[['BrainMass']]
sojow

      CasteMembership  Intelligence   BrainMass  HoursWorked  AnnualIncome
0                   4    137.391890  2852.08060           35     831.21167
1                   5    128.251290  3171.96430           25     716.69837
2                   5    126.626470  3132.57250           27     566.60070
3                   5    109.101120  2741.38790           21     316.95241
4                   5    145.052600  3083.21050           32     629.60753
...               ...           ...         ...          ...           ...
2995                3    100.173780  2035.77180           23     605.64873
2996                4    102.691150  2281.84070           13     510.60138
2997                4    105.236690  1785.58820           25     789.34258
2998                2     73.879524   926.98591           37     856.41296
2999                2     98.598173  1757.53480           47     651.79340

[3000 rows x 5 columns]

In [6]:
model = LinearRegression().fit(brain, intelligence)   

print('Intercept', model.intercept_)        # Print the intercept
print('Coefficient', model.coef_)           # Print the coefficient

Intercept [48.81579995]
Coefficient [[0.02540211]]

In [31]:
2500*0.02540211+48.8

112.305275

In [8]:
cloak0 = pd.read_table('InvisibilityCloak.txt', delimiter = '\t0\t')
cloak0.mad()

/var/folders/3y/jh01kr7x6kj5gsrldxy4w_r40000gn/T/ipykernel_58006/2649801615.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  cloak0 = pd.read_table('InvisibilityCloak.txt', delimiter = '\t0\t')

Participant\tCloak\tMischief    1.5
dtype: float64

In [9]:
cloak = pd.read_table('InvisibilityCloak.txt', delimiter = '\t1\t ')
cloak

/var/folders/3y/jh01kr7x6kj5gsrldxy4w_r40000gn/T/ipykernel_58006/4059451164.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  cloak = pd.read_table('InvisibilityCloak.txt', delimiter = '\t1\t ')

   Participant\tCloak\tMischief
0                       1\t0\t3
1                       2\t0\t1
2                       3\t0\t5
3                       4\t0\t4
4                       5\t0\t6
5                       6\t0\t4
6                       7\t0\t6
7                       8\t0\t2
8                       9\t0\t0
9                      10\t0\t5
10                     11\t0\t4
11                     12\t0\t5
12                     13\t1\t4
13                     14\t1\t3
14                     15\t1\t6
15                     16\t1\t6
16                     17\t1\t8
17                     18\t1\t5
18                     19\t1\t5
19                     20\t1\t4
20                     21\t1\t2
21                     22\t1\t5
22                     23\t1\t7
23                     24\t1\t5

In [10]:
a = np.array([3,1,5,4,6,4,6,2,5,4,5,4,3,6,6,8,5,5,4,2,0,5,7,5])
b = pd.DataFrame(a)
b.mad()

0    1.427083
dtype: float64

In [11]:
a = np.array([4,3,6,6,8,5,5,4,2,5,7,5])
b = pd.DataFrame(a)
b.mad()

0    1.166667
dtype: float64

In [12]:
c = np.array([3,1,5,4,6,4,6,2,0,5,4,5])
d = pd.DataFrame(c)
d.mad()

0    1.5
dtype: float64

In [13]:
(b.mad()+d.mad())/2

0    1.333333
dtype: float64

In [14]:
x = np.array([b.mean(),d.mean()])
y = pd.DataFrame(x)
y.mad()

0    0.625
dtype: float64

In [15]:
x

array([[5.  ],
       [3.75]])

In [16]:
d = pd.concat([b,d],axis = 1)
d

    0  0
0   4  3
1   3  1
2   6  5
3   6  4
4   8  6
5   5  4
6   5  6
7   4  2
8   2  0
9   5  5
10  7  4
11  5  5

In [25]:
#呜呜呜呜呜呜是这个
d.mean().mad()*2

1.25

In [18]:
1+2+1+2+2+1+1+2+2+3+0
17/12

1.4166666666666667

In [19]:
sadex = pd.read_csv('Sadex2 - Copy.csv')
sadex

    Before  After
0       38     37
1       29     26
2       40     36
3       43     40
4       56     55
5       36     32
6       34     29
7       32     27
8       19     18
9       41     39
10      18     16
11      34     31
12      34     30
13      44     42
14      13      9
15      45     41
16      32     28
17      25     23
18      36     35
19      39     35
20      33     28
21      23     22
22      47     46
23      38     33
24      30     27
25      47     42
26      40     35
27      25     24
28      42     40
29      20     19

In [20]:
ttest_ind(sadex['After'], sadex['Before'])

Ttest_indResult(statistic=-1.1571281957399056, pvalue=0.2519634002484173)

In [21]:
len(sadex)

30

In [22]:
sadex['After'].mean()-sadex['Before'].mean()

-2.93333333333333

In [23]:
3+1+5+4+6+4+6+2+5+4+5

45

In [24]:
a= 45/11